/*  your css code here. If applicable */
*{
	padding:0px;
	margin:0px;
/* 	background-color : #f5f5f5; */
}
section{
/* 	background-color : #f5f5f5; */
	background-color : #f5f5f5;
	
}
header{
	
 	text-align:center; 
	background-color:#011e29;
	color:white;
	padding:10px;
}
.maincard-3{
	display:flex;
	padding:50px;
 	justify-content:space-between; 

	
}
.latest-news-section{
	width:100px;
	border-radius:5px;
	height:100px;
	border:1px solid black;
	overload:hidden;
	background-color:white;
	padding:20px;
	text-align:center;
}
h3,ul,li{
	font-size:15px;
/* 	text-align:center; */
	padding:2px;
}
.card-2{
	width:200px;
	height:150px;
	border-radius:10px;
	border:1px solid black;
	padding:5px;
	text-align:center;
	background-color:white;
}
h2{
	font-size:20px;
	padding:8px;
}
p{
	font-size:10px;
	padding:8px;
}
.pictorial-news-section{
	width:150px;
	height:300%;
	border:1px solid black;
	padding:5px;
	border-radius:10px;
	background-color:white;
	text-align:center;
}
img{
	width:100%;
}
.img1{
	padding:10px;
}
h3{
	font-size:15px;
	padding-bottom:10px;
	text-align:center;
}
.card{
	padding:5px;

}